<div class='blog-post'>
  <h2 class='blog-post-title'><a href="/article/show/<%= article.id %>"><%= article.title %></a></h2>
  <div class="blog-post-body"><%- article.bodyHTML() %></div>
  <% if(req.session.authenticated){ %>
  <small><a href="/article/<%= article.id %>/edit">Edit Article</a></small>
  <% } %>
  <p class="blog-post-meta">published <%= article.published_at() %></p>
</div>
