<div class='blog-post'>

  <!-- could also be req.options.action -->
  <% if(req.path.indexOf(article.id) === -1){ %>

  <h2 class='blog-post-title'>
    <a href="/article/<%= article.id %>/<%= article.title %>">
      <%= article.title %>
    </a>
  </h2>

  <% }else{ %>

  <h1 class='blog-post-title'>
    <%= article.title %>
  </h1>

  <% } %>
  <div class="blog-post-body"><%- article.bodyHTML() %></div>
  <% if(req.session.authenticated){ %>
  <small><a href="/article/<%= article.id %>/edit">Edit Article</a></small>
  <% } %>
  <p class="blog-post-meta">published <%= article.published_at() %></p>
</div>
