<div class='comment-container'>
  <div class='comment media well well-sm' id="comment-<%= comment.id %>">
    <div class='comment-header media-heading'>
      <cite>
        <% if(comment.website){ %>
          <a href="<%= comment.website %>" rel="external nofollow">
            <%= comment.owner %>
          </a>
        <% }else{ %>
          <%= comment.owner %>
        <% } %>
      </cite>
      <small>
        <a href="<%= req.path %>/#comment-<%= comment.id %>" class='text-muted'>
          <%= comment.published_at() %>
        </a>
      </small>
    </div>
    <p><%- comment.text %></p>
    <!-- <a href="">reply</a> -->
    <% if(req.session.authenticated){ %>
      <form action='/comment/<%= comment.id %>/delete' class="inline-form" method="post">
        <div>
          <input class="btn btn-danger btn-sm" type="submit" value="Delete" />
          <input type='hidden' name='_csrf' value='<%= _csrf %>'>
        </div>
      </form>
    <% } %>
    <button class="btn" onclick="$('#reply-to-<%= comment.id %>').toggle()">Reply</button>


    <!-- reply form -->
    <div class='comment-reply-form' id='reply-to-<%= comment.id %>'>
      <%- partial('comment_form', {parent_id: comment.id}) %>
    </div>
    <!-- show child comments -->
    <% _.each(comment.children, function(child){ %>
      <%- partial('comment', {comment: child}) %>
    <% }) %>
  </div>

</div>
