<form action='/admin/panel/update' method='post' class="form-horizontal" role="form">
  <h2 class="form-signin-heading">Edit Site Settings</h2>
  <% 
  setting_names = Object.keys(sails.config.sitesettings)
  _.each(setting_names, function(setting_name){ 
    setting_value = sails.config.sitesettings[setting_name]
    %>
    <% if(typeof(setting_value) === typeof('a string')){ %>
      <div class="form-group">
        <label for="<%= setting_name %>" class="col-sm-4 control-label"><%= setting_name %></label>
        <div class="col-sm-8">
          <input name="<%= setting_name %>" value="<%= setting_value %>" type="text" placeholder="<%= setting_name %>" class="form-control">
        </div>
      </div>
    <% }else if(typeof(setting_value) === typeof(true)){
     %>
      <div class="form-group">
        <label for="<%= setting_name %>" class="col-sm-4 control-label"><%= setting_name %></label>
        <div class="col-sm-8">
          <div class="radio radio-inline">
            <label>
              <input type="radio" name="<%= setting_name %>" value="true" <%= setting_value ? 'checked' : '' %>>
              Yes
            </label>
          </div>
          <div class="radio radio-inline">
            <label>
              <input type="radio" name="<%= setting_name %>" value="false" <%= setting_value ? '' : 'checked' %>>
              No
            </label>
          </div>
        </div>
      </div>
    <% } %>
  <% }) %>

<!--   <label class="checkbox">
    <input type="checkbox" value="remember-me"> Remember me
  </label> -->

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
    </div>
  </div>
  <!-- hidden inputs -->
  <input type='hidden' name='_csrf' value='<%= _csrf %>'><!-- 
  <input type='hidden' name='id' value='<%= user.id %>'> -->
</form>